<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Life cycle</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style type="text/css">
        .redBg{
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{msg}}</h1>
        <h1 :class="className"></h1>
        <hello-component v-if="isComponentShowed"></hello-component>
        <hello-component v-if="isComponentShowed"></hello-component>
    </div>
    <script type="text/javascript">
        let helloComp = Vue.component("hello-component",{
            template:"<div><h1>{{content}}\
                </h1></div>",
            data:function(){
                return {
                    content: 'Hello Component'
                }
            },
            beforeCreate(){
                console.log(' Vue Components beforeCreate');
                // console.log(this);
                // console.log(this.msg);
                // console.log(this.clickEvent);

                // 此时数据data和事件方法methods还没有绑定到对象 app 上
                // 可以做AJAX请求
            },
            created(){
                console.log('created');
                // 数据和方法已经绑定到应用app对象上
            },
            beforeMount(){
                // 渲染之前
                console.log('beforeMount');
                let domEl = document.querySelector(".redBg");
                console.log(domEl);
            },
            mounted(){
                // 渲染之后
                console.log('mounted');
                let domEl = document.querySelector(".redBg");
                console.log(domEl);
            },
            beforeUpdate(){
                // 数据更新，但内容未更改之前，即DOM还未渲染
                console.log('beforeUpdate');
            },
            updated(){
                console.log('updated');
            },
            beforeDestroy(){
                // 应用销毁之前
                console.log('beforeDestroy');
            },
            destroyed(){
                console.log('Vue Components destroyed');
            },
        })

        let app = new Vue({
            el: "#app",
            data: {
                msg: "Hello Vue",
                className: "redBg",
                isComponentShowed: true
            },
            beforeCreate(){
                console.log('beforeCreate');
                // console.log(this);
                // console.log(this.msg);
                // console.log(this.clickEvent);

                // 此时数据data和事件方法methods还没有绑定到对象 app 上
                // 可以做AJAX请求
            },
            created(){
                console.log('created');
                // 数据和方法已经绑定到应用app对象上
            },
            beforeMount(){
                // 渲染之前
                console.log('beforeMount');
                let domEl = document.querySelector(".redBg");
                console.log(domEl);
            },
            mounted(){
                // 渲染之后
                console.log('mounted');
                let domEl = document.querySelector(".redBg");
                console.log(domEl);
            },
            beforeUpdate(){
                // 数据更新，但内容未更改之前，即DOM还未渲染
                console.log('beforeUpdate');
            },
            updated(){
                console.log('updated');
            },
            beforeDestroy(){
                // 应用销毁之前
                console.log('beforeDestroy');
            },
            destroyed(){
                console.log('destroyed');
            },
            methods:{
                clickEvent:function(){

                }
            },
            components: {
                'hello-component': helloComp
            }
        });

    </script>
</body>
</html>