<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 v-if="type==='A'">A</h1>
        <h1 v-else-if="type==='B'">B</h1>
        <h1 v-else-if="type==='C'">C</h1>
        <h1 v-else>D</h1>

        <li v-for="item in items">
            {{item.message}}
        </li>
        <hr/>
        <!-- 双向绑定 -->
        <!-- v-model会忽略所有表单元素的value，selected等特性值，渲染vue中data所绑定的值 -->
        <input type="text" v-model="message">
        <input type="radio" v-model="gender" value="Male"> Male
        <input type="radio" v-model="gender" value="Female"> Female
        {{gender}}
        <hr>
        <select v-model="gender">
            <option value="" disabled>Options</option>
            <option selected>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>

        <!-- 组件复用 -->
        <comp v-for="item in items" v-bind:arr="item"></comp>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>5454
    <script>
        Vue.component("comp",{
            props: ["arr"],
            template: '<p>A component</p>'
        });

        var vue = new Vue({
            el: "#app",
            data: {
                type: 'A',
                items: [
                    {message: "1"},
                    {message: "2"},
                    {message: "3"}
                ],
                message: "",
                gender: ""
            }
        });
    </script>
</body>
</html>