<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 横岗是直接插入数据 -->
    <!-- 等号是将HTML的相关标签进行转义 => 保留HTML元素的尖括号 -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
