@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.heart{
    font-size: 2rem;
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 4s linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(185vh);
    }
}