.banner{
    background-image: url("https://a0.muscache.com/im/pictures/1fe846d6-f32b-4928-8016-035964af42fa.jpg");
    height: 100vh;
    position: relative;
    background-size: 100%;
    background-position:center center;
}

.banner__info{
    /* background-color: rgba(0, 0, 0, .3); */
    color: white;
    padding-top: 10vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 40vw;
    /* height: 30vh; */

}

.banner__info > button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}
.banner__info > h1{
    margin-top: 20rem;
    font-size: 4rem;
    font-weight: bolder !important;
}

.banner__info > button:hover{
    background-color: white;
    color: #ff7779;
}
.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}
.banner__search{
    display: flex;
    flex-direction: column;
}