<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ViewModel (VM) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- View -->
    <div id="app">
        {{
            title
        }}
        <h1>Username:{{username}}</h1>
        <h3 v-if="isVip">UserType:VIP</h3>
        <h3 v-else>userType:Normal</h3>
        <hr>
        <h1>用户允许登陆时间</h1>
        <h3 v-if="tab===1">Home Page</h3>
        <h3 v-else-if="tab===2">News Page</h3>
        <h3 v-else>Personal Centre</h3>

        <button @click="tabChange" data-id="1">Home Page</button>
        <button @click="tabChange" data-id="2">News Page</button>
        <button @click="tabChange" data-id="3">Personal Centre</button>
    </div>
    <script type="text/javascript">
        let app = new Vue(
            {
                el:"#app",
                // Model
                data:{
                    tab: 1,
                    title: "Hello World",
                    isVip:true,
                    username: "Peter",
                    age: 15
                },
                methods:{
                    tabChange(e){
                        let tabid = e.target.value.dataset.id;
                        this.tab = tabid;
                    }
                }
            }
        )
    </script>
</body>
</html>