<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Home Page</title>
</head>
<body>
  <!-- action:提交至服务器的地址 -->
  <form action="/serach1" method="GET">
    <input type="text" name="searchKey">
    <input type="submit" value="search">
  </form>
</body>
</html>