<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Single Line Input</h1>
        <input type="text" name="username" v-model="username">
        <p>{{username}}</p>

        <h1>Mutiple Lines Input</h1>
        <textarea name="" v-model="username" cols="30" rows="10"></textarea>

        <h1>Mutiple Checked</h1>
        <span v-for="item in fruits">
            {{item}}
            <input type="checkbox" name="item" v-model="checkFruits" :value="item">
        </span>
        <h2>{{checkFruits}}</h2>

        <span v-for="item in fruits">
            {{item}}
            <input type="radio" name="radioitem" v-model="radioFruits" :value="item">
        </span>
        <h2>{{radioFruits}}</h2>

        <h1>Selection</h1>
        <select name="" id="" v-model="multipleSelections" multiple="multiple">
            <option  v-for="item in cities" :value="item">{{item}}</option>
        </select>
        <p>{{multipleSelections}}</p>

        <h1>Selection</h1>
        <select name="" id="" v-model="selectedOption">
            <option value="" disabled>Please Selected</option>
            <option  v-for="item in cities" :value="item">{{item}}</option>
        </select>
        <p>{{selectedOption}}</p>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el:"#app",
            data: {
                username:'placeholder',
                fruits:[
                    'apple',
                    'pinapple',
                    'banana'
                ],
                checkFruits:[],
                radioFruits: '',
                cities:['Beijing', 'ShenZhen', 'Guangzhou', 'Shenzhen'],
                selectedOption: '',
                multipleSelections: []
            },
            methods:{

            }
        })
    </script>
</body>
</html>