*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}
.menu{
    height: 100px;
    width: 100vw;
    display: flex;
    border-bottom: 3px solid #ccc;
    justify-content: center;
    align-items: center;
}
#canvas{
    flex: 1;
    width: 100vw;
}
.btn{
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    color: #999;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto 5px;
    cursor: pointer;
}
.btn.active{
    box-shadow: 0 0 20px deepskyblue;
    border: 1px solid lightskyblue;
}
.btn1{
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    color: #999;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto 5px;
    cursor: pointer;
}
.btn1.active{
    box-shadow: 0 0 20px deepskyblue;
    border: 1px solid lightskyblue;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thin:after{
    content: "";
    background-color: #333;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 3px;
}
.normal:after{
    content: "";
    background-color: #333;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 8px;
}

.bold:after{
    content: "";
    background-color: #333;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 16px;
}